/*
###############################################################
#                  Launch Hacks II CSS                        #
# Created by Akash Basu, Pradyun Narkandamili, Neel Redkar    #
###############################################################
*/
body {
    position: relative;

}
/* *****************
 * * GLOBAL *
 * ***************** */
*{
    font-family: 'DM Sans', sans-serif;
    overflow-y: visible;
}
#banner {
    opacity: 10;
    width: 96%;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 0;

    background:
        linear-gradient(rgba(0, 2, 255, 0.25),
        rgba(255, 255, 255, 0.25)),

        url('../img/sunset-sky.jpg');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-circle {
    /* Center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 5px solid black;
    margin: 0;
    position: absolute;
    justify-content: center;
}

.menu-icon {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: transparent;
}

.menu-text {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 2rem;
    background-color: transparent;
}

#center-circle {
    height: 40vh;
    width: 40vh;
}

.sub-circle {
    height: 20vh;
    width: 20vh;
    transition: transform 0.5s ease-in-out 0s;
}

.sub-circle:hover {
    transform: translate(-50%, -50%) scale(1.2);
    transition: transform 0.5s ease-in-out 0s;
}

#circle-about {
    left: calc(50% - 36vh);
}

#circle-socials {
    left: calc(50% + 36vh);
}

#circle-contact {
    top: calc(50% + 26vh);
    left: calc(50% + 26vh);
}

#circle-register {
    top: calc(50% - 26vh);
    left: calc(50% - 26vh);
}

#circle-resources {
    top: calc(50% - 26vh);
    left: calc(50% + 26vh);
}

#circle-faq {
    top: calc(50% + 36vh);
}

#circle-sponsors {
    top: calc(50% - 36vh);
}

#circle-organizers {
    top: calc(50% + 26vh);
    left: calc(50% - 26vh);
}
/*Trayce*/

.btn-circlebutton {
    background-color: #0099ff;
    border: 2px solid #0099ff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    border-radius: 5px 25px;
}

.btn-circlebutton:hover {
    background: #ffffff;
    border: #0099ff;
    color: rgb(0, 34, 255);
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, opacity 0.8s linear;
    z-index: 1;
    height: 100vh;
    width:100vw;
}
.popup {
    margin:auto;
    height: 75vh;
    width:50vw;
    background-color: rgb(0,116,232);
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px;
}
.popup-header {
    display: block;
    text-align: right;
}
#close-about {
    padding:10px;
    margin-right: 20px;
}
.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.popup-body {
    text-align: center;
}
#shown {
    height:100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
}